.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

input.no-outline, input.no-outline:focus {
    border: none;
    outline: none;
    width: 80%;
}

input.no-outline::placeholder,  textarea::placeholder{
    color: var(--outline);
}


main {
    height: 100%;
    overflow: auto;
}


nav {
    width: 25%;
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    float: left;
    border-right: 1px solid var(--outline);
    padding: 0.5rem;
    align-items: center;
}

nav h1 {
    font-size: 100%;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--outline);
    width: 90%;
}

nav div {
    transition: 0.2s;
    width: calc(100% - 1rem);
    font-weight: bolder;
    border-radius: 3px;
}

nav #add_work_space {
    background-color: var(--accent);
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

nav #add_work_space:hover {
    filter: brightness(0.85);
}

/* disapprear at 200px */
nav #add_work_space span {
    text-align: center;
    padding-block: 0.5rem;
    display: block;
}

nav div:last-of-type {
    margin-top: auto;
}

nav #user {
    border: 1px solid var(--outline);
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

nav #user span {
    display: inline;
}

nav #user svg {
    fill: var(--text);
    height: 2rem;
}

/*=======================================*/
/*          Workspace section            */
/*=======================================*/

#workspace {
    width: 75%;
    height: 100%;
    overflow: auto;
}

.project {
    padding: 1rem;
    margin: 1rem;
    border-radius: 6px;
}

.project .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project .heading .project_title {
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.project .project_title_text {
    font-size: 1.2rem;
}

/*=======================================*/
/*             todo section              */
/*=======================================*/

.project .todo_section {
    padding: 1rem;
    margin: 1rem;

    font-size: 1.2rem;

    border-radius: 3px;
    border: 1px solid var(--outline);
}

.project .todo_section .todo_template > * {
    display: block;
    margin-block: 1rem;
}

.project .todo_section .task_note {
    resize:none;
    border: 1px solid var(--outline);
    border-radius: 3px;
    outline: none;
    width: 90%;
    height: 4rem;
}

.project .todo_section input[type="date"] {
    background-color: white;
    padding: 0.5rem;
    color: var(--text);
    font-size: 1rem;
    border: 1px solid var(--outline);
    outline: none;
    border-radius: 3px;
    width: auto;
    display: inline;
}

.project .todo_section .delete_task {
    padding: 0.5rem;
    background-color: white;
    font-weight: bolder;
    border-radius: 3px;
    font-size: 0.9rem;transition: 0.2s;
    cursor: pointer;
}

.project .todo_section .delete_task svg {
    fill: red;
    height: 1rem;
    transform: translateY(0.2rem);
}

.project .todo_section .delete_task:hover{
    background-color: var(--outline);
}




/*=======================================*/
/*          task edit buttons            */
/*=======================================*/


.project .project_title .edit_option {
    width: 6rem;
}
.project .project_title .edit_option svg {
    height: 1.5rem;
    cursor: pointer;
    transition: 0.2s;
}

.project .project_title .delete_project {
    fill: var(--text);
}

.project .project_title .delete_project:hover {
    fill: red;
}

.project .project_title .add_task {
    fill: var(--text);
    transition: 0.2s;
}


/*=======================================*/
/*            media queries              */
/*=======================================*/

@media only screen and (max-width: 800px) {
    nav #user span {
        display: none;
    }
}

@media only screen and (max-width: 459px) {
    nav #user {
        border-inline: none;
        border-bottom: none;
        border-radius: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-top: 1rem;
    }
}

/*=======================================*/
/*               colors                  */
/*=======================================*/
.default {
    border: 2px solid var(--outline);
}

.default .color_project {
    fill: var(--outline);
}

.default .user_count {
    background-color: var(--outline);
}

.default .checkbox-round {
    border: 2px solid var(--outline);
}

.default .checkbox-round:checked {
    background-color: var(--outline);
}
.default .add_task:hover {
    fill: var(--outline);
}



.blue {
    border: 2px solid blue;
}

.blue .color_project {
    fill: blue;
}

.blue .user_count {
    background-color: blue;
}

.blue .checkbox-round {
    border: 2px solid blue;
}

.blue .checkbox-round:checked {
    background-color: blue;
}
.blue .add_task:hover {
    fill: blue;
}




.red {
    border: 2px solid red;
}
.red .color_project {
    fill: red;
}

.red .user_count {
    background-color: red;
}

.red .checkbox-round {
    border: 2px solid red;
}

.red .checkbox-round:checked {
    background-color: red;
}
.red  .add_task:hover {
    fill: red;
}





.orange {
    border: 2px solid orange;
}
.orange .color_project {
    fill: orange;
}

.orange .user_count {
    background-color: orange;
}

.orange .checkbox-round {
    border: 2px solid orange;
}

.orange .checkbox-round:checked {
    background-color: orange;
}
.orange .add_task:hover {
    fill: orange;
}





.green {
    border: 2px solid green;
}
.green .color_project {
    fill: green;
}

.green .user_count {
    background-color: green;
}

.green .checkbox-round {
    border: 2px solid green;
}

.green .checkbox-round:checked {
    background-color: green;
}
.green .add_task:hover {
    fill: green;
}





.purple{
    border: 2px solid purple;
}
.purple .color_project {
    fill: purple;
}

.purple .user_count {
    background-color: purple;
}

.purple .checkbox-round {
    border: 2px solid purple;
}

.purple .checkbox-round:checked {
    background-color: purple;
}
.purple .add_task:hover {
    fill: purple;
}




