.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

input.no-outline, input.no-outline:focus {
    border: none;
    outline: none;
    width: 80%;
}

input.no-outline::placeholder,  textarea::placeholder{
    color: var(--outline);
}

body {
    overflow: hidden;
}


main {
    height: 100%;
    overflow: auto;
}


nav {
    width: 4%;
    min-width: 4rem;
    max-width: 6rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    float: left;
    align-items: center;

    padding: 0.5rem 0.5rem 1rem;
}

nav #add_work_space {
    border: 3px solid black;
    background-color: white;
    cursor: pointer;
    width: calc(100% - 1rem);
    margin-inline: auto;
    margin-top: 1rem;
    padding-inline: 0.25rem;
}

nav #add_work_space:hover {
    transform: rotateZ(90deg);
    fill: white;
    transition: 0.15s;
    background: black;
}

nav #add_work_space svg {
    transform: translateY(0.1rem);
}

nav #date_check {
    width: calc(100% - 1rem);
    border: 3px solid black;
    background-color: white;
    cursor: pointer;
    padding: 0.25rem;
    padding-inline: 0.4rem;
    margin-top: auto;
    transition: 0.15s;
}

nav #date_check svg {
    transform: translateY(0.1rem);
}

nav #date_check:hover {
    fill: white;
    background: black;
}

.hover_info:after {
    width: fit-content;
    opacity: 0;
    content: attr(hoverme);
    position: absolute;
    display: block;
    color: white;
    background: black;
    transition: all 0.15s ease;
    padding: 0.25rem;
    transform: translate(-9%, -105%);
    pointer-events: none;
    z-index: 5;

    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}
.hover_info:hover:after {
    opacity: 100;
    transform: translate(50%, -105%);
}


/*=======================================*/
/*                modal                  */
/*=======================================*/

#modals {
    z-index: 6;
}

#modals div {
    position: fixed;
    width: 95%;
    max-width: 300px;
    height: fit-content;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    border: 3px solid black;
    background: var(--main);

    padding: 12px;

    display: none;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#modals div h2 {
    font-size: 1.2rem;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

#modals div button {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding-block: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
    border: 3px solid black;
    color: black;
    transition: 0.2s;

    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

#modals div button.delete {
    background: black;
    color: var(--main);
}

#modals div button:hover {
    scale: 0.9;
}

/*=======================================*/
/*          Workspace section            */
/*=======================================*/

#workspace {
    width: calc(95% - 5rem);
    height: 100%;
    overflow: auto;
    margin-inline: auto;
}

.project {
    padding: 1rem;
    margin: 1rem;
    cursor: move;
    background: var(--main);

    box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 6px, rgba(0, 0, 0, 0.16) 0px 3px 6px;
}

.project.over {
    border: 3px dotted #666;
}


.project .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project .heading .project_title {
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.project .project_title_text {
    font-size: 1.2rem;
    width: calc(80% - 4.5rem);
    margin-left: 0.5rem;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

/*=======================================*/
/*             todo section              */
/*=======================================*/

.project .todo_section {
    padding: 1rem 1rem 0;
    font-size: 1.2rem;
    z-index: 3;
}

.project .todo_section .todo_template > * {
    display: block;
    margin-block: 1rem;
}

.project .todo_section .todo_template:not(:first-child){
    border-top: 1px solid var(--outline);
}

.project .todo_section .task_note {
    resize:none;
    padding: 0.5rem;
    outline: none;
    border: 1px solid white;
    border-left: 2px solid var(--outline);
    width: 90%;
    height: 4rem;
}

.project .todo_section input[type="date"] {
    padding: 0.5rem;
    color: var(--text);
    font-size: 1rem;
    outline: none;
    width: auto;
    display: inline;
    background: #eeeeee;

    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}
.project .todo_section .task_name {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}


.project .todo_section .delete_task {
    padding: 0.5rem;
    background-color: white;
    font-weight: bolder;
    font-size: 0.9rem;transition: 0.2s;
    cursor: pointer;
}

.project .todo_section .delete_task svg {
    fill: red;
    height: 1rem;
    transform: translateY(0.2rem);
}

.project .todo_section .delete_task:hover{
    background-color: #eeeeee;
}




/*=======================================*/
/*          task edit buttons            */
/*=======================================*/


.project .project_title .edit_option {
    width: auto;
}
.project .project_title .edit_option svg {
    height: 1.5rem;
    cursor: pointer;
    transition: 0.2s;
}
.project .project_title .edit_option svg:not(:first-child){
    margin-left: 0.5rem;
}


.project .project_title .delete_project {
    fill: var(--text);
}

.project .project_title .delete_project:hover {
    fill: red;
}

.project .project_title .add_task {
    fill: var(--text);
}


/*=======================================*/
/*            media queries              */
/*=======================================*/

@media only screen and (max-width: 800px) {
    nav #user span {
        display: none;
    }
}

@media only screen and (max-width: 459px) {
    nav #user {
        border-inline: none;
        border-bottom: none;
        border-radius: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-top: 1rem;
    }
}

/*=======================================*/
/*               colors                  */
/*=======================================*/
.default {
    border: 2px solid var(--outline);
}

.default .color_project {
    fill: var(--outline);
}

.default .user_count {
    background-color: var(--outline);
}

.default .checkbox-round {
    border: 2px solid var(--outline);
}

.default .checkbox-round:checked {
    background-color: var(--outline);
}
.default .add_task:hover {
    fill: var(--outline);
}



.blue {
    border: 2px solid blue;
}

.blue .color_project {
    fill: blue;
}

.blue .user_count {
    background-color: blue;
}

.blue .checkbox-round {
    border: 2px solid blue;
}

.blue .checkbox-round:checked {
    background-color: blue;
}
.blue .add_task:hover {
    fill: blue;
}




.red {
    border: 2px solid red;
}
.red .color_project {
    fill: red;
}

.red .user_count {
    background-color: red;
}

.red .checkbox-round {
    border: 2px solid red;
}

.red .checkbox-round:checked {
    background-color: red;
}
.red  .add_task:hover {
    fill: red;
}





.orange {
    border: 2px solid orange;
}
.orange .color_project {
    fill: orange;
}

.orange .user_count {
    background-color: orange;
}

.orange .checkbox-round {
    border: 2px solid orange;
}

.orange .checkbox-round:checked {
    background-color: orange;
}
.orange .add_task:hover {
    fill: orange;
}





.green {
    border: 2px solid green;
}
.green .color_project {
    fill: green;
}

.green .user_count {
    background-color: green;
}

.green .checkbox-round {
    border: 2px solid green;
}

.green .checkbox-round:checked {
    background-color: green;
}
.green .add_task:hover {
    fill: green;
}





.purple{
    border: 2px solid purple;
}
.purple .color_project {
    fill: purple;
}

.purple .user_count {
    background-color: purple;
}

.purple .checkbox-round {
    border: 2px solid purple;
}

.purple .checkbox-round:checked {
    background-color: purple;
}
.purple .add_task:hover {
    fill: purple;
}




